body{
padding-left: 150px;	
padding-right: 150px;
font-family: sans-serif;

}

h1{
	text-align: center;
	color: #87CEFA;
}

p{
	margin-left: 450px;
	font-size: 10px;
	color: #BEBEBE
}

#container{


	display: flex;
	justify-content: flex;
	border: 1px solid #BEBEBE;

}