.todoListMain .header input{
	margin-left: 350px;
	font-size: 16px;
	border: 5px solid #FFF ;
	height: 35px;
	width: 350px;


}

.todoListMain .header button {
	padding:13px;
	font-size: 16px;
	margin: 10px;
	margin-right: 0px;
	background-color: #0066FF;
	color:#FFF;
	border: 2px solid #0066FF;
}

.todoListMain .header button:hover {
	background-color: #003399;
	border:2px solid #003399;
	cursor:pointer;
}

.todoListMain .theList li{
	color:#333;
	background-color: #D3D3D3;
	padding:15px;
	margin-bottom: 15px;
	margin-left: 350px;
	border-radius: 5px;

}